extends layout
block content
  -var centers=results.centers
  -var dates=ten_days

  .navbar
    each date in dates
      a(href= date) 
        h4= date
    a(href= "https://www.linkedin.com/in/shirishkawatkar/")
      h4.blink_me= "Created by: Shirish Kawatkar"  
  table    
    thead
      tr 
        th CENTER
        th ADDRESS
        th PINCODE
        th AVAILABILITY
    tbody
      tr
      if centers.length 
      each center in centers
        tr
          td= Object.values(center)[1]
          td= Object.values(center)[2]
          td= Object.values(center)[6]
          td= Object.values(center)[12][0].date + "[" + Object.values(center)[12][0].available_capacity + "]"
      else 
        tr
          td(colspan="4") No information available :(